In [ ]:
# import some necessary libraries
import os
import pandas as pd

In [2]:
# create path for local
path_in = r'C:\Users\Lavy Ngo\Desktop\CS5530\Assignment1\HumanPower_project\data_raw\raw_human_data.csv'
path_out = r'C:\Users\Lavy Ngo\Desktop\CS5530\Assignment1\HumanPower_project\data_clean\clean_human_data.csv'

# read data from a raw file
# data = pd.read_csv('/content/raw_human_data.csv')
data = pd.read_csv(path_in)
data

   Height (Inches)  Weight (Pounds)  Age  Grip strength Frailty
0             65.8              112   30             30       N
1             71.5              136   19             31       N
2             69.4              153   45             29       N
3             68.2              142   22             28       Y
4             67.8              144   29             24       Y
5             68.7              123   50             26       N
6             69.8              141   51             22       Y
7             70.1              136   23             20       Y
8             67.9              112   17             19       N
9             66.8              120   39             31       N

In [71]:
# find unique value each column
for col in data:
  print(data[col].unique())

[65.8 71.5 69.4 68.2 67.8 68.7 69.8 70.1 67.9 66.8]
[112 136 153 142 144 123 141 120]
[30 19 45 22 29 50 51 23 17 39]
[30 31 29 28 24 26 22 20 19]
['N' 'Y']

In [72]:
# rename some of the header for better spacing
data = data.rename(columns={'Height (Inches)':'Height/inches', 
                        'Weight (Pounds)':'Weight/lbs',
                        'Grip strength':'Grip/strength'})
data

   Height/inches  Weight/lbs  Age  Grip/strength Frailty
0           65.8         112   30             30       N
1           71.5         136   19             31       N
2           69.4         153   45             29       N
3           68.2         142   22             28       Y
4           67.8         144   29             24       Y
5           68.7         123   50             26       N
6           69.8         141   51             22       Y
7           70.1         136   23             20       Y
8           67.9         112   17             19       N
9           66.8         120   39             31       N

In [75]:
# using filter to eliminate all of the weak ones, and keep 'strong' ones
filter = data["Frailty"] == "N"
new_data = data[filter]
print(new_data)

   Height/inches  Weight/lbs  Age  Grip/strength Frailty
0           65.8         112   30             30       N
1           71.5         136   19             31       N
2           69.4         153   45             29       N
5           68.7         123   50             26       N
8           67.9         112   17             19       N
9           66.8         120   39             31       N

In [76]:
# write new_data the cleaned csv file
# new_data.to_csv('clean_human_data.csv')
new_data.to_csv(path_out)